<div id="communityRequirementsDialog" class="vex vex-theme-plain">
	<div class="vex-overlay"></div>
	<div class="vex-content">
		<h3><emphasis>Connect</emphasis> supports your business by introducing you to appropriate lenders.</h3>
		<p>In order to make the best introductions possible, your business plan needs:</p>
		<ul class="clean-list">
			<li id="discussionCheck">At least 140 characters in each Discussion page</li>
			<li id="projectCheck">At least 1 customized Project</li>
			<li id="salesCheck">At least 12 months of Sales and Expenses</li>
		</ul>
		<p>
			<strong>Come back</strong> when you've added a bit more information to your plan!
		</p>
	</div>
</div>