<header>
	<h4>Can I be included on this list of search results?</h4>
</header>
<article>
	<p>If you provide {{service}}, and would like to have your company included on this list, please contact <a href="mailto:connect@stratpad.com?subject=Lenders and Investors Connect Request">connect@stratpad.com</a></p>

</article>