<header>
  <hgroup>
    <h1>{{how_connect_works_heading}}</h1>
    <h2>{{howItWorks_subtitle}}</h2>
  </hgroup>
</header>
<section>
  <article id="howItWorks">
    <div class="stratFileHelp">
      <iframe src="" data-url="help/community/my-connect-account/?iframe=1" width="100%" height="90%" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
    </div>
    <strong>What is Connect?</strong>
    <p>Connect introduces you to local small business owners when they are searching for your services.</p>
    <p>In each category:</p>
    <ul>
      <li>Connect displays a prioritized list of vendors to the small business owner.</li>
      <li>The business owner can click on your short profile to learn more about you.</li>
      <li>The business owner then requests an electronic introduction to you. Connect emails you the business owner's name and email address.</li>
    </ul>
    <strong>Connect for Lenders</strong>
    <p>Lenders use Connect to find small businesses who are 
    <strong>prepared</strong> and who meet their 
    <strong>criteria</strong>. This saves considerable staff time and shortens the approval process.</p>
    <ul>
      <li>StratPad prepares the small business by helping them prepare a proper business plan including detailed cash flow statements.</li>
      <li>Lenders tell Connect their target market criteria. Only businesses who meet these criteria AND who have a proper business plan are introduced to the lender.</li>
      <li>Optionally, lenders may share their application forms with the small business owner thus ensuring a very productive first meeting.</li>
    </ul>
    <p>If you would like to be <strong>featured as a lender</strong> in Connect, contact us at <a href="mailto:connect@stratpad.com?subject=Lenders and Investors Connect Request">connect@stratpad.com</a> for more information.</p>    
    <strong>Connect for Products and Services</strong>
    <p>Small business owners need key products and services to run their business and be successful. Connect introduces them directly to high-quality, local people who can help them.</p>
    <p>Do you want to be introduced to small business owners? <a id="goConnect" href="#">Just click here</a>.</p>
  </article>
</section>
