<div>
<header>
	<h4>Get found by local small businesses!</h4>
</header>
<article>
	<p>Can I be included on this list of search results?</p>
	<p>If you provide {{service}}, and would like to have your company included on this list, 
		<a href="#">please click here and sign up to StratPad Connect</a>.</p>
</article>
</div>