<header>
	<h4>{{referAFriendTitle}}</h4>
</header>
<article>
	<p>Tell {{serviceProviderCategoryLongLabel}} about Connect and get $5 when they join.</p>

	<form id="referAFriendForm">
		<input id="referalEmail" type="text" name="referalEmail" placeholder="Add {{serviceProviderCategoryLongLabel}}'s email address" maxlength="32"/>
		<button class="orange-btn">Send</button>
		<div class="message"></div>
	</form>
	<br class="clear">
	<p class="small">The first person to suggest this {{serviceProviderCategoryLabel}} is eligible for the referral fee. Referral fees are sent monthly to your PayPal account.</p>

</article>