<header>
    <h4>{{ci_label_accreditationLogos_tooltip}}</h4>
</header>
<article>
    <p>Up to 3 accreditation logos will be displayed to prospective clients (StratPad users) in their search results. Accreditations highlight and emphasize your listing in the search results.</p>
    <p>Images must be in PNG (preferred), JPEG or GIF format. They must be under 500KB. Dimensions of 256px x 256px is recommended.</p>
    <p>If your image appears rotated or flipped, try opening and exporting it from your computer before uploading.</p>
</article>