<header>
    <h4>{{ci_label_categories}}</h4>
</header>
<article>
    <p>You can be listed under one or two categories in Connect. eg. Mentors and Consultants. Feel free to suggest more categories, if you feel important ones are missing.</p>
</article>