<header>
    <h4>{{ci_label_companyLogo}}</h4>
</header>
<article>
    <p>Your company logo will be displayed to prospective clients (StratPad users) in their search results. Images must be in PNG (preferred), JPEG or GIF format. They must be under 500KB. Dimensions of 256px x 256px is recommended.</p>
    <p>If your image appears rotated or flipped, try opening and exporting it from your computer before uploading.</p>
</article>