<header>
    <h4>{{ci_label_monthlyAdBudget}}</h4>
</header>
<article>
    <p>Place an upper limit on the number of leads you're willing to accept each month, by specifying a monthly budget. Once your budget is reached, your listing will not be available in the search results anymore.</p>
</article>