<header>
    <h4>{{ci_label_priceForInvitation}}</h4>
</header>
<article>
    <p>When a prospective client (StratPad user) clicks on your listing, and asks for an introduction, this is the price you're willing to pay. Higher bids move closer to the top of the search results.</p>
</article>