<header>
    <h4>{{ci_label_servicesDescription}}</h4>
</header>
<article>
    <p>Your company description will be displayed to prospective clients (StratPad users) in their search results.</p>
    <p>You can use bold (&lt;b&gt;), italic (&lt;i&gt;) and underline (&lt;u&gt;) html tags in your description.</p>
    <p>For example, entering: &lt;u&gt;Welcome!&lt;/u&gt;</p> 
    <p>will result in: <u>Welcome!</u></p>     
</article>