<header>
    <h4>{{ci_label_welcomeMessage}}</h4>
</header>
<article>
    <p>After clicking on a search result, prospective clients will be shown your detailed services description, as part of a welcoming message.</p>
    <p>You can use bold (&lt;b&gt;), italic (&lt;i&gt;), underline (&lt;u&gt;), paragraph (&lt;p&gt;) and list (&lt;ul&gt; &amp; &lt;li&gt;) html tags in your description.</p>
    <p>For example, entering: &lt;u&gt;Welcome!&lt;/u&gt;</p> 
    <p>will result in: <u>Welcome!</u></p> 
</article>