<div>
	<div class="howItWorks">
	    <h4>Connect is a free service that creates high-quality matches between entrepreneurs and lenders. </h4>
	    
	    <div>
	    	<strong>Here’s how it works:</strong>
    	    <ol>
    	        <li>Connect features a list of lenders and investors interested in funding businesses like yours. </li>
    	        <li>Connect asks you a few questions about your business and its primary shareholder. </li>
    	        <li>Connect compares your answers to the lenders’ criteria and shows you any matches. </li>
    	        <li>Click on lenders you’d like to be introduced to. Connect makes the introduction and helps you complete any necessary documents. </li>
    	        <li>The lender will contact you within 2 business days to discuss next steps. </li>
    	        <li>Two weeks later, Connect will email you a 1-minute survey about the quality of your experience.</li>
    	    </ol>
	    </div>

	    <div>
	    	<strong>Everything is confidential</strong>
    	    <ul>
    	        <li>The information you enter in Connect is not shared with anyone except when making introductions.</li>
    	        <li>For each introduction Connect will tell you what information will be shared and get your permission to share it. </li>
    	        <li>Lenders agree to use this information to contact you once and for no other purpose.</li>
    	        <li>When sharing your business plan using StratPad’s multi-user or export options the information you provide in Connect is not included.</li>
                <li>If you would like to be featured as a lender in Connect, contact us at <a href="mailto:connect@stratpad.com?subject=Lenders and Investors Connect Request">connect@stratpad.com</a> for more information.</li>
    	    </ul>
    	</div>
    </div>

    <div class="agreement">
	    <button id="understandAgreement" class="blue-btn">I understand and agree.</button>
	    <p class="small-text">
	    	<input id="showAgreementAlways" type="checkbox" name="showAgreementAlways" /> 
	    	Show this screen every time I visit "Lenders and Investors".
	    </p>
	</div>

	<div class="security"><i class="icon-new-lock"></i><span>{{community_security}}</span></div>
</div>