<header>
	<h4>Suggest a new category for StratPad Connect</h4>
</header>
<article>
	<p>If you would like to see another search category in StratPad Connect, enter that here for consideration.</p>

	<form id="suggestCategoryForm">
		<input id="category" type="text" name="category" placeholder="Suggest a category" maxlength="32"/>
		<button class="category orange-btn">Submit</button>
		<div class="message"></div>
	</form>

</article>