<header>
	<h4>Suggest a new city for StratPad</h4>
</header>
<article>
	<p>Generally, you want to choose the municipality with which you would register your business.</p>

	<p>Before suggesting a new city, make sure you type at least a few letters of your city name. The list will narrow down as you type more letters. Then scroll to select your city.</p>

	<p>If you still can't find your city, enter it here, along with your <strong>province/state/region</strong> and <strong>country</strong>. We will get back to you shortly. In the meantime, just use a nearby city.</p>

	<form id="suggestCityForm">
		<input id="city" type="text" name="city" placeholder="City, province/state/region and country" maxlength="128"/>
		<button class="city orange-btn">Submit</button>
		<div class="message"></div>
	</form>

</article>