body {
	padding:65px 0 0 300px;
}

#pageNavigation {		
	width:300px;
	margin: 0 0 0 -300px;
}

#pageHeader {		
	height:65px;
	line-height:65px;
	margin:-65px 0 0 -300px;
	.l-grid {		
		div:last-child{
			font-size:24px;
		}
	}
	#stratFileTitle {
		padding:0 290px 0 320px;
		@include font-size(20);
		&:before {
			left:300px;
		}
	}
}

#pageFooter {	
	height:100px;
	line-height:100px;
	margin:0 0 -100px -300px;
	.l-grid {
		div:first-child{
			font-size:16px;				
		}
		div:last-child{
			font-size:40px;			
		}
	}
}

#contentPager{	
	aside {	
		@include font-size(70); 
	}
	span {		
		@include font-size(100); 		
	}	
}

// tables

.reportTable {
	@include font-size(12);
	tr {
		td, th {
			&:first-child {
				width:180px !important;
			}
		}
		&.totals td,
		&.totals th {
			padding-bottom: 20px;
		}
	}
}

#gantt {
	tbody {
		tr {
			td {
				div {
					i {
						width:18px;
						height:18px;
						margin: -9px -10px 0 -9px;
					}
				}
			}
		}
	}
}