<b class="appversion">StratPad Version {{version}}</b> <br /><br />
Business planning made simple.<br /><br />
<a href="#" class="showWelcomeVideo icon-ui-movie">Watch the Welcome Video</a><br /><br />
<b>Designed and created by StratPad Inc.</b><br /><br />
The StratPad team is:<br />
Alex Glassey<br />
Julian Wood<br />
Sam Estok<br />
Manuela Bizzotto<br />
Victor Chevalier<br /><br />
<b>Privacy</b><br /><br />
We reserve the right to anonymously track your activity inside StratPad for the sole purpose of improving the software.<br /><br />
Trademarks: StratPad, StratBoard, StratFile, StratCard, StratBak<br />
Copyright © 2011-{{year}} StratPad Inc.<br />
All rights reserved.<br /><br />
<b>StratPad Inc.</b><br /><br />
185-911 Yates Street<br />
Victoria, BC Canada V8V 4Y9
<p class="buildDetails"><span>{{buildDate}}</span><span>{{sha1}}</span></p>