<div>
	{{!-- we choose one or the other of these divs --}}
	<div id="progressStart" class="progressMessage">
		<p>Complete all questions in the My Account pages to get listed in StratPad Connect. Look at this indicator bar to gauge your progress.</p>
	</div>

	<div id="progressMissing" class="progressMessage">
		<p>Complete all questions in the My Account pages to get listed in StratPad Connect. <br> The following fields are missing:</p>
		<ul>
		    <li>Company name</li>
		</ul>
		<p id="timeRemaining"></p>
	</div>

	<div id="progressComplete" class="progressMessage">
		<p>Success! You are currently listed in StratPad Connect.</p>
	</div>
</div>