<div>
    <strong>StratPad Connect Terms &amp; Conditions</strong>
    <a id="print" href="#"><i class="icon-ui-print"></i></a>
    <ul>
      <li>You acknowledge that StratPad Inc. (we, us, our) will share the information you provide us with small business owners and their staff by displaying your information in our cloud-based Connect service. You grant us a non-exclusive license to display your information in Connect everywhere in the world.</li>
      <li>You agree that we may send you an email (Introduction) with the first name and email address of a small business owner or their staff that we reasonably believe is interested in your product or service (Business).</li>
      <li>You agree to reply to every Introduction by email within 1 business day from the time that we send it.</li>
      <li>You agree to reply only ONCE to any single Introduction.</li>
      <li>You agree that you will NEVER sell, give away or otherwise share any Introduction information unless and until you receive permission from the Business.</li>
      <li>You agree that we may ask the Business for one or more ratings and one or more comments about their experience with you, and you further agree that we may publicly post these ratings and comments in Connect, and you further agree that we may use these ratings and comments to prioritize your listing inside Connect regardless of any other prioritization consideration.</li>
      <li>You agree to pay a non-refundable fee of US$9.95 per year (or portion thereof) to be listed in Connect. You agree that we may charge these fees to your credit card.</li>
      <li>You agree to pay a non-refundable fee for each Introduction. You acknowledge that these fees are set and managed by you in your Company Info screen. You agree that we may charge these fees to your credit card.</li>
      <li>You agree that we may remove your listing from Connect at any time for any or no reason at our sole discretion.</li>
      <li>You acknowledge that you may request that we remove your listing from Connect at any time by emailing 
      <a href="mailto:connect@stratpad.com">connect@stratpad.com</a> and we agree to remove your listing within 5 business days of receiving your emailed request.</li>
      <li>You agree to pay any and all outstanding fees even after you have requested that we remove your listing or even after we remove your listing.</li>
      <li>You agree that any ratings, comments or information about your interaction with any Introduction or any Business becomes our sole property.</li>
    </ul>
</div>