<header>
	<hgroup>
		<h1>{{heading}}</h1>	
		<h2>{{ar_title}}</h2>
	</hgroup>
</header>
<section>
	<article id="ar">
		<div class="stratFileHelp">
			<iframe src="" data-url="help/view-financials/options/accounts-receivable/?iframe=1" width="100%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>

	    <div class="permissions"></div>

		<h3>On average, how many days does it take your customers to pay you?</h3>
		<ul>
			<li>If all your customers pay you at the time of sale, enter "0" days</li>
			<li>If your customers typically take one month to pay, enter "30" days</li>
			<li>If your customers pre-pay when they place their order, and it takes you 7 days to process their order, enter "-7" days</li>
		</ul>

		<fieldset>
			<div class="days">&nbsp;</div>
			<div id="slider"></div>
		</fieldset>

	</article>
</section>