<header>
	<hgroup>
		<h1>{{heading}}</h1>	
		<h2>{{ap_title}}</h2>
	</hgroup>
</header>
<section>
	<article id="ap">
		<div class="stratFileHelp">
			<iframe src="" data-url="help/view-financials/options/accounts-payable/?iframe=1" width="100%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>

	    <div class="permissions"></div>		

		<h3>On average, how many days do you take to pay your suppliers?</h3>
		<ul>
			<li>If you pay cash on delivery for most of your supplies, enter "0" days</li>
			<li>If you pay all your bills once a month, enter "15" days</li>
			<li>If you consistently wait one month to pay your bills, enter"30 days"</li>
			<li>If you pay at the time of order, and it takes 7 days to receive your suppies (pre-pay), enter "-7" days</li>
		</ul>

		<fieldset>
			<div class="days">&nbsp;</div>
			<div id="slider"></div>
		</fieldset>

	</article>
</section>



