<header>
    <h4>Percentage COGS that are wages</h4>
</header>
<article>
    <p>The maximum percentage available is limited by the percentage entered for inventory ({{percentCogsIsInventory}}%). In other words, the percentage of COGS related to inventory and the percentage related to wages cannot exceed 100%.</p>
</article>