<header>
    <h4>Percentage COGS that is inventory</h4>
</header>
<article>
    <p>The maximum percentage available is determined by the percentage entered for wages (under Employee Deductions). In other words, the percentage of COGS related to inventory and the percentage related to wages must total 100%.</p>
</article>