#exportMessage {
	margin-bottom:10px;
	padding:5px;
	font-size:14px;
	line-height:20px;
}

.vex-export {
	.vex-dialog-message {
		padding-left:5px;
	}
}

#exportOptions {
	margin-bottom:10px;
}

#exportFileInfo {
	height:46px;
	color:#008D9E;
	font-weight:bold;
	font-size:12px;
	line-height:20px;
	padding:5px;
}