<div id="acceptSharedStratfileDialog">
	<div class="dialogMessage">
		{{acceptanceDialogMessage}}
	</div>
	<div class="dialogInfo">
		{{#if canAddSharedFile}}
			{{acceptanceDialogInfo}}
		{{else}}
			{{acceptanceDialogAtLimit}}
		{{/if}}
	</div>
</div>