<style type="text/css">
	body { color: dimgrey; font: normal normal 100%/1.5 OpenSans, Helvetica, "Helvetica Neue", Arial, sans-serif; margin-top: 50px; }
	p { text-align: center; }
	#loading {font-weight: 600}
</style>

<div>
	<p>Loading...</p>
	<p>Click the print icon or choose print from the file menu when loading is finished.</p>
	<p>With some browser combinations, you may need to check your download folder for a pdf file, if it doesn't show up here.</p>
	<p>Close this window when finished printing.</p>
</div>