<h1>Track Your Progress</h1>
<img src="/images/ipp-welcome.jpg" />
<ul class="cleanList l-grid l-col-33">
	<li>
		<h2>Plan</h2>
		<p>your business<br />with <strong>StratPad Cloud</strong></p>
	</li>
	<li>
		<h2>Run</h2>
		<p>your business<br />with <strong>QuickBooks Online</strong></p>
	</li>
	<li>
		<h2>Track</h2>
		<p>your progress<br />by <strong>linking them</strong></p>
	</li>
</ul>
<span class="qboCopyright">QuickBooks is a registered trademark of Intuit Inc. and is displayed under license.</span>