.location-section_community.location-chapter_my_account {

    label a.small {
        font-size: 0.9em;
        font-weight: 400;
    }

	li.tall {
		height: 120px;
	}

    #companyInfoAndBudget li.continue {
        margin-left: 50%;
        div {
            font-size: 0.8em;
        }
    }

	#welcomeMessage {
		width: 80%;
		height: 150px;
	}

	/* hide the file input: http://www.quirksmode.org/dom/inputfile.html */
    input[type=file] {
        display: none;
    }
    div.companyLogo, div.accreditationLogos {
        width: 80%;
        height: 70px;
        background: white url(/images/cloud-upload.png) top left no-repeat;
        background-size: auto 70px;
        float: left;
        border: 1px solid #ccc;
        cursor: pointer;

        /* for the edit icon */
        color: #CCC;
        text-shadow: 1px 1px 2px black;
        padding: 3px 5px;
        > i {
            display: none;
        }
        &:hover > i {
            display: block;
        }
    }
    div.accreditationLogos {
        padding: 0;
    }
    div.accreditationLogo {
        height: 68px;
        width: 33.33%;
        background-size: auto 68px;
        background-repeat: no-repeat;
        background-position: center;
        float: left;
        > i {
            text-shadow: none;
            display: none;
            float: right;
            margin: 5px 10px;
            color: orange;
            font-size: 1.3em;            
        }
        &:hover {
            background-color: #f2f2f2;
            > i {
                display: block;
            }
        }
    }

    .termsWrapper {
        float: left;
        width: 80%;
        input {
            width: initial;
            margin: 5px;
        }
        label {
            font-size: initial;
            font-weight: initial;            
        }
    }

    .termsDialog {
        width: 800px;
        .vex-dialog-message {
            font-weight: initial;
            p, ul {
                font-size: 0.9em;
            }
        }
        #print {
            position: absolute;
            right: 1em;
        }
    }

    button#payment {
        i {
            margin-left: 8px;
        }
        &[disabled] {
            opacity:0.5;
        }
    }

    #monthlyTable {
        &.reportTable tfoot tr td {
            font-weight: 400;
            padding: 1px 4px;
        }
        tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th { 
            background-color:#eee; 
        }
    }  

    #summaryTable {
        tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th { 
            background-color:#eee; 
        }
        @include font-size(13);
        empty-cells: show;
        width:50%;
        table-layout:fixed;
        thead {
            font-weight:600;
            th, td {
                vertical-align:bottom;
            }
        }
        th, td {
            vertical-align:top;
            padding:4px;
        }
        tr {
            th {
                text-align: left;
                font-weight:600;
                width:20%;
            }
            td {
                width: 12%;
                text-align: right;
                padding-right: 30px;
            }
        }
        tfoot tr td {
            text-align: left;
            @include font-size(11);
            font-weight: 400;
            padding: 1px 4px;
        }

    }    

    #paymentDialog {
        @include font-size(13);
        li.expiry input {
            width: 32%;
        }
        li.billingInputs input {
            width: 49%;
        }
        li.billing {
            border-top: 3px double #ddd;
        }
        .dialogFields li.ocLabel {
            font-size: inherit;
            padding-top: 20px;
        }

        .dialogFields li {
            padding: 13px 0;
            height: 60px;
        }

        .selectize-dropdown, .selectize-input, .selectize-input { 
          line-height: 14px; 
        }

        .selectize-input {
            min-height: 30px;
        }

        .response {
            color: $linkColor;
        }


    }

}
