<header>
    <h4>{{bb_label_businessTaxId}}</h4>
</header>
<article>
    <p>This is an important way to identify your business. For startups, having a business tax ID signifies the seriousness of your intent to be in business.</p>
    <ul>
    	<li><a target="_blank" href="http://www.irs.gov/Businesses/Small-Businesses-%26-Self-Employed/Employer-ID-Numbers-EINs">United States</a></li>
    	<li><a target="_blank" href="http://www.cra-arc.gc.ca/tx/bsnss/sm/menu-eng.html">Canada</a></li>
    </ul>
</article>