<header>
    <h4>{{bb_label_duns}}</h4>
</header>
<article>
    <p>Provide your business's D&amp;B (or DUNS) number, if you have it. This helps lenders assess the credit-worthiness of your business.</p>
    <p>You can get a D&amp;B number here: <a target="_blank" href="http://www.dnb.com" target="_blank">dnb.com</a></p>
</article>