<header>
    <h4>{{bb_label_industry}}</h4>
</header>
<article>
    <p>Some lenders may prefer certain industries over others. Accurately select your business's NAICS code to find appropriate lenders.</p>
</article>