<header>
    <h4>{{bb_label_preferredLanguage}}</h4>
</header>
<article>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor metus in eros interdum accumsan. Maecenas finibus fringilla facilisis. Suspendisse scelerisque a mi et tristique. Donec mattis porttitor urna, nec vehicula purus. <strong>Phasellus dapibus hendrerit suscipit.</strong> Aliquam eu ligula nec metus malesuada consectetur. Vestibulum diam massa, tincidunt sed iaculis finibus, rhoncus porttitor lacus.</p>
</article>