<header>
    <h4>{{bb_label_revenue}}</h4>
</header>
<article>
    <p>Some lenders have a preference regarding the size of business they deal with. Annual revenue is one way to determine this.</p>
</article>