// variables.scss - variables and mixins to pre-ignite any new web development project

// Main Colors
$bgd: #f9f9f9;
$default: #494949; // text color

$white: #fff;
$black: #000;
$grey: #898989;
$greyDark: #888;
$gold: #eb9f0c;

// Social Colors
$twitter: #0099c5;
$facebook: #3e6fa6;
$linkedin: #006695;
$rss: #f68001;
$google: #db6853;
$pinterest: #d4182c;

// Link Colors
$linkColor: #a41525;
$linkHover: #292929;
$linkPaywallBorder: #fca7ac;