<header>
	<hgroup>
		<h1>{{heading}}</h1>	
		<h2>{{{title}}}</h2>
	</hgroup>
</header>

<section>
	<article class="group fullWidth chart">
		<div class="stratFileHelp">
			<iframe src="" data-url="help/track-progress/chart/?iframe=1" width="100%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		<svg></svg>
	</article>
</section>