<ul class="measurementRow group">
	<li>
		{{date}}
	</li>
	<li>
		{{{value}}}
	</li>
	<li>
		{{{displayProp measurement 'comment'}}}
		<nav>
			<a href="#" class="icon-ui-remove deleteMeasurement" title="{{dialogConfirmDeleteMeasurement}}"></a>
		</nav>
	</li>
</ul>