<header>
    <h4>{{pch_label_bankrupt}}</h4>
</header>
<article>
    <p>Lenders may wish to assess the strength of the primary shareholder's character. It is important to be forthright about a personal bankruptcy.</p>
</article>