<header>
    <h4>{{pch_label_ssnSin}}</h4>
</header>
<article>
    <p>Depending on their assessment of the businesses, lenders may also wish to assess the credit-worthiness of the primary shareholder. The SSN/SIN helps to identify the primary shareholder.</p>
</article>