<header>
	<hgroup>
		<h1>{{heading_details}}</h1>	
		<h2>{{title}}</h2>
	</hgroup>
</header>

<section>
	<article id="cashFlowDetail" class="group fullWidth">
		<div class="stratFileHelp">
			<iframe src="" data-url="help/view-financials/statement-cash-flows-monthly/?iframe=1" width="100%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		<div class="reportWrapper">		
			<div class="headerWrapper">
				<table id="tableRowHeaders" class="tableRowHeaders">
					<thead>
						<tr class="rowDivider2">
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
			<div class="tableWrapper">
				<table id="fullReportTable" class="fullReportTable">
					<thead></thead>
					<tbody></tbody>
				</table>
			</div>
			<div id="disclaimer">
				{{fs_disclaimer}}
			</div>			
		</div>
	</article>
</section>