<header>
	<hgroup>
		<h1>{{heading}}</h1>	
		<h2>{{{title}}}</h2>
	</hgroup>
</header>

<section id="playbook">
	<article class="group fullWidth">
		<div class="stratFileHelp">
			<iframe src="" data-url="help/view-reports/playbook/?iframe=1" width="100%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>

		<div id="toc">

			<h3>Your Business Playbook includes:</h3>

			<blockquote>
				<ul>
				 <li>Who We Are
				 	<ul>
				 		<li>What We Aspire To</li>
				 		<li>What We Are Focused On</li>
				 	</ul>
				 </li>
				 <li>What We Need to Do In The Next Six Months</li>
				 <li>Things We Need To Watch THIS MONTH</li>
				 <li>Things We Need To Be Aware Of NEXT MONTH</li>
				 <li>Key Financial Numbers from Last Month and for the Next Six Months That We Need to Watch</li>
				 <li>Our Revenue Assumptions and Projections from Last Month and for the Next Six Months</li>
				 <li>Our Cost of Goods Assumptions and Projections from Last Month and for the Next Six Months</li>
				 <li>Our Expense Projections from Last Month and for the Next Six Months</li>
				 <li>Our Cash Projections from Last Month and for the Next Six Months</li>
				 <li>Our Staffing Assumptions from Last Month and the Next Six Months</li>
				</ul>
			</blockquote>

		</div>
		<div id="download">
			<h3>Starting month:</h3>

	        <div class="datepickerWrapper">
	          <i class="icon-ui-calendar-2"></i>
	          <input id="startDate" type="text" name="startDate" placeholder="" class="datepicker" tabindex="1" />
	        </div>

			<button id="downloadPlaybookPdf">Create Business Playbook as a PDF</button>
			<div id="status"><span></span></div>
		</div>
	</article>
</section>