<header>
	<hgroup>
		<h1>{{heading}}</h1>	
		<h2>{{{title}}}</h2>
	</hgroup>
</header>

<section id="r12">
	<article class="group fullWidth">
		<div class="stratFileHelp">
			<iframe src="" data-url="help/view-reports/business-plan/?iframe=1" width="100%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>

		<div id="toc">

			<h3>Your business plan includes:</h3>

			<blockquote>
			<h4>Business Plan</h4>
			<ul>
			 <li>Introduction</li>
			 <li>The Sector We Operate In and How We Make Money
			 	<ul>
				 <li>Target Customers</li> 
				 <li>Key Industry Issues</li> 
				 <li>Our Solution</li> 
				 <li>Competition</li> 
				 <li>Business Model</li> 
				 <li>Additional Opportunities</li> 
				</ul>
			 </li>
			 <li>Project Plan, Summarized</li>
			 <li>Key Metrics</li>
			 <li>Operational Financial Performance, Summarized</li>
			</ul>
			 
			<h4>Appendices</h4>
			<ol>
			<li>Summary Financial Projections</li>
			<li>Income Statement Projections, By Month</li>
			<li>Statement of Cash Flows Projections, By Month</li>
			<li>Balance Sheet Projections, By Month</li>
			<li>Worksheet, By Month</li>
			<!-- <li>Ratios, By Month</li> -->
			<!-- <li>Schedules, By Month</li> -->
			<li>Project Plan</li>
			<li>Gantt Chart</li>
			<li>Theme Detail</li>
			<!-- <li>Team Profiles</li> -->
			<ol>
			</blockquote>

		</div>
		<div id="download">
			<h3>Download now:</h3>
			<button id="downloadBizPlanDocx">Create Full Business Plan as DocX</button>
			<div id="status"><span></span></div>
		</div>
	</article>
</section>