<header>
	<hgroup>
		<h1>{{heading}}</h1>	
		<h2>&nbsp;</h2>
	</hgroup>
</header>

<section id="r3">
	<article class="group fullWidth">
		<div class="stratFileHelp">
			<iframe src="" data-url="help/view-reports/projections-project-summary/?iframe=1" width="100%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		<!-- can scroll -->
		<div class="reportWrapper">
			<table id="strategyByTheme" class="reportTable">
				<thead></thead>
				<tbody></tbody>
				<caption id="disclaimer">{{fs_disclaimer}}</caption>
			</table>
		</div>
	</article>
</section>
