<header>
	<hgroup>
		<h1>{{heading}}</h1>	
		<h2>{{{title}}}</h2>
	</hgroup>
</header>

<section id="r6">
	<article class="group fullWidth">
		<div class="stratFileHelp">
			<iframe src="" data-url="help/view-reports/gantt-chart/?iframe=1" width="100%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		<table id="gantt" class="reportTable">
			<thead>
				<tr class="colHeader1">
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>		
	</article>
</section>