<header>
	<hgroup>
		<h1>{{heading}}</h1>	
		<h2>&nbsp;</h2>
	</hgroup>
</header>

<section id="r7">
	<article class="group fullWidth">
		<div class="stratFileHelp">
			<iframe src="" data-url="help/view-reports/project-plan/?iframe=1" width="100%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		<table id="projectPlanReport" class="reportTable">
			<thead>
				<tr class="rowDivider5">
					<th>{{r7_theme}}</th>
					<th>{{r7_startDate}}</th>
					<th>{{r7_endDate}}</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</article>
</section>