<header>
	<hgroup>
		<h1>{{heading}}</h1>	
		<h2>&nbsp;</h2>
	</hgroup>
</header>

<section id="r8">
	<article id="agendaReport" class="group fullWidth">
		<div class="stratFileHelp">
			<iframe src="" data-url="help/view-reports/agendas/?iframe=1" width="100%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</article>
</section>