/* modules.scss - classes to style messages */

.info, .success, .warning,  .error {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	position:relative;
	&:before {
		font-family: 'UI-Icons';
		font-size:30px;
		position:absolute;
		left:10px;
		margin-top:-15px;
		top: 37%;
		width:30px;
		height:30px;
		display:block;
	}
}
.info {
	color:  #00529B;
	background-color: #BDE5F8;
	&:before {
		content:"\e03f";
	}
}
.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	&:before {
		content:"\e040";
	}
}
.warning  {
	color: #9F6000;
	background-color: #FEEFB3;
	&:before {
		content:"\e003";
	}
}
.error {
	color:  #D8000C;
	background-color: #FFBABA;
	&:before {
		content:"\e003";
	}
	a {
		color: darkslategrey;
	}
}

.hidden {
	display:none;
}

@include keyframes(highlight) {
	0% {
		background-color: transparent;
	}
	50% {
		background-color: rgba(253,244,140,0.5);
	}
	100% {
		background-color: transparent;
	}
}

.highlight {
	/* animation name |  duration | easing | number of cycles */
	-webkit-animation: highlight 3s ease-in 1;
	animation: highlight 3s ease-in 1;
}

.orange-text {
	color:#d37d02;
}

.fullWidth {
	width:100%;
}


.clean-list {
	list-style-type: none;
	margin:0;
	padding:0;
	li {
		list-style-type: none;
		margin:0;
		padding:0;
		ul {
			padding:0;
		}
	}
}

.clean-button {
	background: none;
	border: none;
	border-spacing: 0;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}

.vex.vex-theme-plain.welcomeQBO {
	.vex-dialog-message {
		text-align:center;
	}
	.vex-content {
		width:920px;
		h1{
			text-align:center;
			margin: 0.25em 0;
		}
		h2 {
			color:#008D9E;
			text-transform:uppercase;
			text-align:center;
			margin:0 0 10px 0;
		}
		p {
			text-align:center;
			font-size:18px;
			margin-top:0;
		}
		img {
			max-width:100%;
		}
		.qboCopyright {
			text-align:right;
			font-size:11px;
			display:block;
			position:absolute;
			bottom:6px;
			right:15px;
		}
	}
	.vex-dialog-buttons {
		padding-bottom:15px;
	}
	.vex-dialog-button.vex-dialog-button-secondary{
		background:#008D9E;
		color:#fff;
	}
}