body {
	padding:90px 0 90px 300px;
}

#pageNavigation {		
	width:300px;
	margin: 0 0 0 -300px;
}

#pageHeader {		
	height:90px;
	line-height:90px;
	margin:-90px 0 0 -300px;
	.l-grid {		
		div:last-child{
			font-size:35px;			
		}
	}
}

#pageFooter {	
	height:90px;
	line-height:90px;
	margin:0 0 -90px -300px;
	.l-grid {
		div:first-child{
			font-size:16px;				
		}
		div:last-child{
			font-size:35px;			
		}
	}
}