<header>
    <h4>{{location_label_payment}}</h4>
</header>
<article>
    <p>Your credit card will be charged US$9.95 to be listed with StratPad Connect for each year or part thereof, unless canceled.</p>
    <p>Complete all required questions (prefixed with an asterisk *) before paying.</p>
</article>