<header>
    <h4>{{location_label_terms}}</h4>
</header>
<article>
    <p>Read through the terms and conditions carefully before agreeing to them. There are important instructions contained within, 
    	critical to your success as a service provider within StratPad.</p>
</article>